@import "reset"

@font-face
  font-family: 'monacoregular'
  src url('../fonts/monaco/monaco-webfont.woff2') format('woff2'), url('../fonts/monaco/monaco-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

body
  font-family: Consolas, monacoregular, Hiragino Sans GB, Microsoft YaHei, WenQuanYi, Airal, sans-serif
  font-size: 16px
  color: #000 !important

a
  color: #666
  text-decoration: none

nav
  // padding: 5px 15px
  width: 720px
  margin: 50px auto
  font-size: 16px
  line-height: 32px
  a
    margin-right: 20px
    &.active
      border-bottom: 1px solid #000

main
  width: 710px
  margin: 0 auto
  // padding-left: 20px
  li
    color: #666
    font-size: 14px
    border-left: 3px solid #666
    // list-style disc
    padding: 4px
    margin: 5px 0
    transition: all .3s
    &:hover
      // transform: translateX(-3px)
    a
      color: #666
      &:hover
        border-bottom: 1px solid #000
    span 
      margin-left: 4px
      margin-right: 16px
      color: #666
footer
  width: 720px
  margin: 0 auto
  font-size: 12px
  color: #666
  padding: 50px 0
  .copy
    font-family: 'Microsoft YaHei'

.post
  width: 720px
  margin: 0 auto
  line-height: 32px

.archive
  width: 720px
  margin: 0 auto
  .post-item
    line-height: 40px

.highlight
  background-color: #f6f8fa

.highlight .gutter pre
  padding-left: 10px;
  padding-right: 10px;
  color: #869194;
  text-align: right;
  background-color: #eff2f3;

.highlight .code pre
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f6f8fa